@page "/"
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Home</PageTitle>

<h1>Metadata</h1>

@if (json is null)
{
    <p>Loading...</p>
}
else
{
    <pre>@json</pre>
}

@code {
    private string? json;

    protected override async Task OnInitializedAsync()
    {
        var client = HttpClientFactory.CreateClient("ExifApi");
        json = await client.GetStringAsync("api/metadata/");
    }
}
